@charset "UTF-8";
/*!
Theme Name: designdough
Theme URI: http://www.designdough.co.uk
Author: designdough
Author URI: http://www.designdough.co.uk
Description: Bespoke WordPress theme for clients.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: designdough

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-slide:focus {
  outline: none;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: url("img/ajax-loader.gif") #fff center center no-repeat;
}

/* Arrows */
.slick-arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  cursor: pointer;
  top: -98px;
  padding: 0;
  border: none;
  outline: none;
  background: white;
  transition: 0.5s;
}

.slick-arrow:hover, .slick-arrow:focus {
  outline: none;
}

.slick-arrow.slick-disabled {
  opacity: 0.7;
}

.slick-arrow:before {
  font-size: 1.6rem;
  line-height: 1;
  color: #082f4f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-arrow.icon-prev {
  right: 62.5px;
}

.slick-arrow.icon-next {
  right: 16.5px;
}

#project_slider .slick-arrow {
  top: -69px;
}

#project_slider .slick-arrow.icon-prev {
  right: 56px;
}

#project_slider .slick-arrow.icon-next {
  right: 10px;
}

@media (max-width: 767px) {
  .slick-arrow.icon-prev {
    right: 56px;
  }
  .slick-arrow.icon-next {
    right: 0;
  }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #57595b;
  color: #57595b;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.fancybox-outer,
.fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) center center no-repeat;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 8040;
  line-height: 1;
  color: #57595b;
  display: block;
  padding: 10px;
  transition: 0.5s;
}

.icon-close:hover {
  background-color: #fdfcfc;
  color: #fff;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  display: block;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  color: #f1f0ef;
  line-height: 36px;
  transition: 0.5s;
}

.fancybox-nav span:hover {
  color: #57595b;
}

.fancybox-prev span {
  left: -55px;
  border-radius: 50% 0 0 50%;
}

.fancybox-next span {
  right: -55px;
  border-radius: 0 50% 50% 0;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(241, 240, 239, 0.9);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: block;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(241, 240, 239, 0.8);
  color: #57595b;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url(fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url(fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  background: #f1f0ef;
  padding-top: 48px;
}

body.nav-open .site-wrap {
  overflow: hidden;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #57595b;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}

a:before {
  transition: color .5s, background-color .5s;
}

a:hover, a:active, a:focus {
  color: #646568;
}

#page {
  position: relative;
  transition: .5s;
  left: 0;
}

.nav-open #page {
  left: 240px;
}

.full-height {
  height: 100%;
}

.site-loader {
  background: #f1f0ef;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999999;
}

.loader {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -40px 0 0 -40px;
  border: 6px solid rgba(8, 47, 79, 0.1);
  border-radius: 50%;
  border-top: 6px solid #082f4f;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'walters';
  src: url("fonts/walters.eot?3209715");
  src: url("fonts/walters.eot?3209715#iefix") format("embedded-opentype"), url("fonts/walters.woff2?3209715") format("woff2"), url("fonts/walters.woff?3209715") format("woff"), url("fonts/walters.ttf?3209715") format("truetype"), url("fonts/walters.svg?3209715#walters") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation';
  src: url("fonts/LiberationSerif-Regular-webfont.eot");
  src: url("fonts/LiberationSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LiberationSerif-Regular-webfont.woff") format("woff"), url("fonts/LiberationSerif-Regular-webfont.ttf") format("truetype"), url("fonts/LiberationSerif-Regular-webfont.svg#liberation") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation';
  src: url("fonts/LiberationSerif-Bold-webfont.eot");
  src: url("fonts/LiberationSerif-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LiberationSerif-Bold-webfont.woff") format("woff"), url("fonts/LiberationSerif-Bold-webfont.ttf") format("truetype"), url("fonts/LiberationSerif-Bold-webfont.svg#liberation") format("svg");
  font-weight: bold;
  font-style: normal;
}

/**
 * Basic typography style for copy text
 */
html {
  font-size: 62.5%;
}

body {
  color: #57595b;
  font: normal 1.3rem/2.15 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiase;
}

h1, h2 {
  font: normal 3.3rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #082f4f;
  margin-top: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #8f96a3;
  max-width: 358px;
}

h3 {
  font: normal 1.4rem/1.6 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  color: #082f4f;
  letter-spacing: 0.080em;
}

.icon-font, nav#mainnav .menu-item-has-children > a, [class^="icon-"], [class*=" icon-"] {
  font-weight: normal;
}

.icon-font:before, nav#mainnav .menu-item-has-children > a:before, .menu-item-has-children .icon-font:after, nav#mainnav .menu-item-has-children > a:after, [class^="icon-"]:before, .menu-item-has-children [class^="icon-"]:after, [class*=" icon-"]:before, .menu-item-has-children [class*=" icon-"]:after {
  font-family: "walters";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-left:before {
  content: '\e800';
}

/* '' */
.icon-arrow-right:before {
  content: '\e801';
}

/* '' */
.icon-load:before {
  content: '\e802';
}

/* '' */
.icon-next:before {
  content: '\e803';
}

/* '' */
.icon-prev:before {
  content: '\e804';
}

/* '' */
.icon-user:before {
  content: '\e805';
}

/* '' */
.icon-replay:before {
  content: '\e806';
}

/* '' */
.icon-caret:before {
  content: '\e80d';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-facebook:before {
  content: '\f09a';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.icon-youtube:before {
  content: '\f167';
}

/* '' */
/**
 * Clear inner floats
 */
.clearfix::before, .wrap::before, nav#mainnav ul::before, .clearfix::after, .wrap::after, nav#mainnav ul::after {
  content: '';
  display: table;
}

.clearfix::after, .wrap::after, nav#mainnav ul::after {
  clear: both;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.wrap {
  margin: 0 auto;
  /* 3 */
  padding: 0 62px 0 100px;
  position: relative;
}

@media (max-width: 767px) {
  .wrap {
    padding: 0 20px;
  }
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text, .slick-arrow, .logo, .pdf-download {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

/**
 * Remove bullet points from lists
 */
.no-bullets ul, .no-bullets ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-bullets li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.flex-row {
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .flex-row {
    margin-bottom: 50px;
  }
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.cols .col {
  padding: 0 10px;
}

.cols .col.count-1 .cols .col {
  width: 100%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-2 .cols .col {
  width: 50%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-3 .cols .col {
  width: 33.33333333%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-4 .cols .col {
  width: 25%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-5 .cols .col {
  width: 20%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-6 .cols .col {
  width: 16.66666667%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-7 .cols .col {
  width: 14.28571429%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-8 .cols .col {
  width: 12.5%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-9 .cols .col {
  width: 11.11111111%;
}

.no-flexbox .cols .col {
  float: left;
}

.cols .col.count-10 .cols .col {
  width: 10%;
}

.no-flexbox .cols .col {
  float: left;
}

@media (max-width: 991px) {
  .cols {
    display: block;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .cols .col {
    width: 100% !important;
    width: auto !important;
    padding: 0 !important;
  }
  .no-flexbox .cols {
    float: none;
  }
}

.grid {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.count-1 .grid .col {
  width: 100%;
}

.count-2 .grid .col {
  width: 50%;
}

.count-3 .grid .col {
  width: 33.33333333%;
}

.count-4 .grid .col {
  width: 25%;
}

.count-5 .grid .col {
  width: 20%;
}

.count-6 .grid .col {
  width: 16.66666667%;
}

.count-7 .grid .col {
  width: 14.28571429%;
}

.count-8 .grid .col {
  width: 12.5%;
}

.count-9 .grid .col {
  width: 11.11111111%;
}

.count-10 .grid .col {
  width: 10%;
}

.no-flexbox .grid .col {
  float: left;
}

.hide-text, .slick-arrow, .logo, .pdf-download {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.white {
  color: white;
}

.highlight {
  color: #082f4f;
}

.site-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.center {
  text-align: center;
}

.btn,
.button,
.qsm-btn {
  font: normal 1.7rem/1 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
  border: none;
  border-radius: 0;
  padding: 7px 25px;
  background: #082f4f;
  pointer-events: all;
  -webkit-appearance: none;
}

.btn .icon-load,
.button .icon-load,
.qsm-btn .icon-load {
  display: inline-block;
  color: white;
  font-size: 12px;
  margin: 0 6px 0 0;
}

.btn:focus,
.button:focus,
.qsm-btn:focus {
  outline-color: #f1f0ef;
}

#load_more {
  padding-left: 18px;
}

.site-main .qmn_quiz_container .qsm-btn {
  background-color: #082f4f !important;
  border-radius: 0 !important;
  color: white !important;
  margin-top: 30px !important;
}

.site-main .qmn_quiz_container .qsm-btn:hover {
  background-color: #082f4f !important;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
  border: 1px solid #8f96a3;
  width: 200px;
  background-color: #fff;
  color: #57595b;
  padding: 8px 10px;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 10px;
}

#wpss_survey input.error + label,
#wpss_survey input.valid + label,
#wpss_survey input:focus + label,
#wpss_survey textarea.error + label,
#wpss_survey textarea.valid + label,
#wpss_survey textarea:focus + label {
  opacity: 1 !important;
}

#wpss_survey #buttoons {
  margin-top: 10px;
}

#wpss_survey #buttoons button {
  font: normal 1.7rem/1 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 7px 25px;
  background: #082f4f;
  pointer-events: all;
  -webkit-appearance: none;
  margin-right: 10px;
}

header#masthead > .wrap {
  padding: 27px 100px;
}

header#masthead .office h4 {
  margin-bottom: .25em;
}

@media (max-width: 767px) {
  header#masthead > .wrap {
    position: static;
    padding: 27px 20px;
  }
  header#masthead .social-links {
    display: none;
  }
}

@media (max-width: 599px) {
  header#masthead .office {
    display: none;
  }
}

.logo {
  width: 233px;
  height: 51px;
  background: url(img/logo.svg) no-repeat center;
  background-size: 233px 51px;
  display: block;
  float: left;
  position: relative;
  transition: 0.5s;
  z-index: 10;
  left: 0;
  top: 0;
}

.no-svg .logo {
  background-image: url(img/logo.png);
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .no-svg .logo {
    background: url(img/logo@2x.png) no-repeat center;
  }
}

header#masthead .nav-wrapper .logo {
  width: 109.64705876px;
  height: 23.99999999px;
  background-size: 109.64705876px 23.99999999px;
  margin: 48px 0 15px 56px;
  display: none;
}

@media (max-width: 991px) {
  header#masthead .nav-wrapper .logo {
    display: block;
  }
  .scrolled header#masthead .nav-wrapper .logo {
    margin-top: 15px;
  }
  .scrolled header#masthead .logo {
    width: 109.64705876px;
    height: 23.99999999px;
    background-size: 109.64705876px 23.99999999px;
    margin-top: -42px;
    z-index: 9999;
  }
}

@media (max-width: 767px) {
  header#masthead .logo {
    margin: 0 auto;
  }
  .scrolled header#masthead .logo {
    left: 50%;
    margin-left: -60px;
  }
  .scrolled header#masthead .nav-wrapper .logo {
    margin: 15px auto;
    float: none;
    left: auto;
  }
}

@media (max-width: 599px) {
  header#masthead .logo {
    margin: 0 auto;
    float: none;
    left: auto;
  }
  .scrolled header#masthead .logo {
    left: 0;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  header#masthead .nav-wrapper .logo {
    margin: 48px auto 0;
  }
  .scrolled header#masthead .nav-wrapper .logo {
    margin: 15px auto;
  }
}

.tagline {
  display: block;
  float: left;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #8f96a3;
  letter-spacing: 0.20em;
  margin-left: 20px;
  margin-top: 2px;
}

@media (max-width: 991px) {
  .tagline {
    display: none;
  }
}

.social-links ul {
  margin: 0 -6px;
}

.social-links li {
  padding: 0 6px;
  display: block;
  float: left;
}

.social-links a {
  display: block;
}

.social-links a:before {
  display: block;
  font-size: 1.8rem;
  line-height: 48px;
  color: #8f96a3;
}

.nav-wrapper .social-links {
  border-right: 1px solid #8f96a3;
  padding-right: 42px;
  float: right;
}

@media (max-width: 991px) {
  .social-links {
    padding-right: 25px;
  }
}

.icon-facebook:hover:before {
  color: #3b5897;
}

.icon-twitter:hover:before {
  color: #1ca0f2;
}

.icon-linkedin:hover:before {
  color: #0074b3;
}

.icon-youtube:hover:before {
  color: #cc1e1e;
}

.icon-email:hover:before {
  color: #082f4f;
}

nav a {
  display: block;
}

.nav-wrapper {
  background: #e6e6e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.admin-bar .nav-wrapper {
  top: 32px;
}

.nav-wrapper .wrap {
  position: relative;
  padding: 0 100px;
}

@media (max-width: 991px) {
  .nav-wrapper {
    height: 48px;
    overflow: hidden;
  }
  .nav-wrapper .wrap {
    position: static;
    padding: 0 20px;
  }
  .scrolled .nav-wrapper {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 1040px) {
  .nav-wrapper .wrap {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .admin-bar .nav-wrapper {
    top: 46px;
  }
}

@media (max-width: 599px) {
  .nav-wrapper {
    top: 0;
  }
}

nav#mainnav {
  float: left;
  z-index: 200;
  transition: .5s;
}

nav#mainnav ul {
  margin: 0 -40px;
}

nav#mainnav li {
  margin: 0;
  float: left;
}

nav#mainnav li:before {
  content: '';
  display: block;
  width: 2px;
  background: #8f96a3;
  height: 10px;
  float: right;
  margin: 19px -1px 19px 0;
}

nav#mainnav li:last-of-type:before {
  display: none;
}

nav#mainnav a {
  font: 500 1.1rem/1.2 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #8f96a3;
  display: block;
  padding: 17.5px 40px;
  height: 48px;
}

nav#mainnav a.open {
  background-color: #8f96a3;
  color: #f1f0ef;
}

nav#mainnav a.open:after {
  color: #f1f0ef !important;
}

nav#mainnav a.open:hover {
  color: #f1f0ef;
}

nav#mainnav a:hover {
  color: #737c8c;
}

nav#mainnav .current-menu-item a {
  color: #082f4f;
}

nav#mainnav .menu-item-has-children > a {
  padding-right: 28px;
}

nav#mainnav .menu-item-has-children > a:after {
  font-size: 1.5rem;
  content: '\e80d';
  vertical-align: middle;
  margin-left: 6px;
  color: #8f96a3;
  transition: .5s;
  line-height: .5;
  margin-bottom: 3px;
}

nav#mainnav .menu-item-has-children > a.open:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav#mainnav .menu-item-has-children > a:hover:after {
  color: #818998;
}

nav#mainnav .menu-item-has-children.current-menu-item > a:after {
  color: #082f4f;
}

nav#mainnav .sub-menu {
  background: #8f96a3;
  position: absolute;
  z-index: 100;
  top: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0;
  display: none;
  transition: .5s;
}

nav#mainnav .sub-menu li {
  border: none;
  margin: 0;
  float: none;
  border-bottom: 1px solid #818998;
}

nav#mainnav .sub-menu li:before {
  display: none;
}

nav#mainnav .sub-menu a {
  color: #f1f0ef;
  font-size: 1.2rem;
  padding: 20px 100px 20px 40px;
  height: auto;
}

nav#mainnav .sub-menu a:hover {
  background-color: #818998;
}

nav#mainnav .sub-menu li:first-of-type a {
  padding-top: 20px;
}

nav#mainnav .sub-menu li:last-of-type a {
  padding-bottom: 20px;
}

nav#mainnav .sub-menu .menu-item-type-custom a {
  font-size: 1.1rem;
  color: #8f96a3;
}

@media (max-width: 1300px) {
  nav#mainnav ul {
    margin: 0 -20px;
  }
  nav#mainnav a {
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  nav#mainnav {
    background: #e6e6e5;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    left: -240px;
  }
  nav#mainnav ul {
    width: 240px;
    position: fixed;
    margin: 0;
    height: 100%;
  }
  nav#mainnav li {
    float: none;
    border: none;
    margin: 10px 0;
    display: block;
    position: static !important;
  }
  nav#mainnav li:before {
    display: none;
  }
  nav#mainnav a {
    padding: 10px 20px;
    font-size: 1.4rem;
    display: block;
    height: auto;
  }
  nav#mainnav .menu-item-has-children > a:after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  nav#mainnav .menu-item-has-children > a.open:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sub-nav-open nav#mainnav {
    left: 0;
  }
  nav#mainnav .sub-menu {
    height: 100%;
    left: -240px;
    top: 0;
  }
  nav#mainnav .sub-menu a {
    padding: 10px 20px !important;
  }
}

.login-btn {
  font: 500 1.1rem/1.2 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #8f96a3;
  display: block;
  float: right;
  padding: 15px 0 15px 57px;
}

.login-btn:before {
  font-size: 1.8rem;
  margin-right: 13px;
  vertical-align: middle;
  color: #082f4f;
}

@media (max-width: 991px) {
  .login-btn {
    padding-left: 25px;
  }
}

@media (max-width: 479px) {
  .login-btn {
    padding: 15px 0;
    font-size: 0;
    line-height: 0;
    color: transparent;
  }
  .login-btn:before {
    margin-right: 0;
  }
}

#nav-toggle {
  height: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 99999;
  float: left;
  width: 24px;
  margin: 16.5px 0px;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #082f4f;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0px;
}

#nav-toggle span:nth-child(2), #nav-toggle span:nth-child(3) {
  top: 6px;
}

#nav-toggle span:nth-child(4) {
  top: 12px;
}

#nav-toggle.active span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#nav-toggle.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav-toggle.active span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}

@media (max-width: 991px) {
  #nav-toggle {
    display: block;
  }
}

footer {
  background: #082f4f;
  color: #8f96a3;
  padding: 95px 0 0;
  font: normal 1.1rem/1.56 'Montserrat', sans-serif;
  text-transform: uppercase;
}

footer hr {
  height: 1px;
  border: none;
  background: #00213d;
  margin: 4.5em 0;
}

footer h4 {
  font-size: 1.1rem;
  font-weight: normal;
  color: white;
  line-height: 1.2;
  margin: 0 0 1em;
}

footer p {
  margin: 0;
}

footer .grid {
  clear: none;
  margin: 0 -5px;
}

footer .grid .col {
  padding: 0 5px;
}

@media (max-width: 991px) {
  footer .grid .col-1 {
    width: 15%;
  }
  footer .grid .col-3 {
    width: 25%;
  }
}

@media (max-width: 599px) {
  footer .grid {
    display: block;
  }
  footer .grid .col {
    width: 100% !important;
    width: auto !important;
    text-align: center;
    margin: 20px auto;
  }
  .no-flexbox footer .grid .col {
    float: none;
  }
}

footer a {
  color: #8f96a3;
}

footer a:hover {
  color: #9da3af;
}

footer .main-office {
  float: left;
}

footer .logo {
  width: 206px;
  height: 32px;
  background: url(img/logo-white.svg) no-repeat center;
  background-size: 206px 32px;
  margin: 0 65px 15px 0;
  float: none;
}

.no-svg footer .logo {
  background-image: url(img/logo-white.png);
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .no-svg footer .logo {
    background: url(img/logo-white@2x.png) no-repeat center;
  }
}

footer .nav a {
  color: white;
}

footer .sub-menu a {
  color: #8f96a3;
}

footer .highlight {
  color: white;
}

footer .social-links {
  width: 206px;
  margin-right: 65px;
  float: left;
}

footer .social-links ul {
  margin: 0 -10px;
}

footer .social-links li {
  padding: 0 10px;
}

footer .social-links a:before {
  font-size: 2.7rem;
  color: white;
}

footer .social-links a:hover:before {
  color: white;
}

@media (max-width: 991px) {
  footer .social-links {
    margin: 0 auto;
    float: none;
  }
}

footer .copyright {
  background: #00213d;
  color: #8f96a3;
  padding: 1.5em 0;
  margin-top: 85px;
}

footer .copyright .nav {
  float: right;
}

footer .copyright .nav a {
  color: #8f96a3;
}

footer .copyright .nav a:hover {
  color: #9da3af;
}

@media (max-width: 767px) {
  footer .copyright {
    margin-top: 30px;
    padding: 1.5em 20px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  footer .main-office {
    float: none;
    margin: 0 auto 50px;
    text-align: center;
  }
  footer .logo {
    margin: 0 auto 20px;
  }
}

@media (max-width: 767px) {
  footer {
    padding-top: 50px;
  }
  footer hr {
    margin: 30px 0;
  }
  footer .social-links {
    float: none;
    margin: 0 auto;
    width: auto;
  }
  footer .social-links ul {
    text-align: center;
  }
  footer .social-links li {
    display: inline-block;
    float: none;
  }
  footer .content-right {
    display: none;
  }
}

footer .col-3 li:first-child a, footer .col-4 li:first-child a, footer .col-5 li:first-child a {
  color: white;
}

footer .col-3 a, footer .col-4 a, footer .col-5 a {
  color: #8f96a3;
}

.office {
  font: normal 1.1rem/1.56 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #8f96a3;
}

.office h4 {
  font-size: 1.1rem;
  font-weight: normal;
  color: #082f4f;
  line-height: 1.2;
  margin: 0;
}

footer .office h4 {
  color: white;
  margin-bottom: 1em;
}

.office a {
  color: #8f96a3;
}

.office p {
  margin: 0;
}

header#masthead .office {
  float: right;
}

.grid.offices {
  margin: 0;
}

.grid.offices .col {
  padding: 0;
  width: 25%;
}

@media (max-width: 991px) {
  .grid.offices {
    padding: 0 20px;
  }
  .grid.offices .col {
    margin-bottom: 20px;
    width: 50%;
  }
}

@media (max-width: 599px) {
  .grid.offices {
    display: block;
  }
  .grid.offices .col {
    width: 100%;
    width: auto;
    text-align: center;
    margin: 20px auto;
  }
}

address {
  font-style: normal;
}

form .cols {
  margin: 0 -18.5px;
}

form .cols .col {
  padding: 0 18.5px;
  display: block;
}

form .cols .col:nth-of-type(1) {
  width: 41.4285714%;
}

form .cols .col:nth-of-type(2) {
  width: 42%;
}

form .cols .col:nth-of-type(3) {
  width: 16.5714286%;
}

form .btn {
  width: 100%;
  text-align: center;
  margin-top: 152px;
}

@media (max-width: 991px) {
  form {
    display: block;
  }
  form .col {
    width: 100% !important;
    width: auto !important;
  }
  form .col .form-group {
    margin-bottom: 13px !important;
  }
  .no-flexbox form .col {
    float: none;
  }
  form .btn {
    padding: 20px;
    margin-top: 0;
  }
}

.form-group {
  position: relative;
  margin-bottom: 13px;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

textarea {
  min-height: 183px;
}

select,
textarea,
input[type=tel],
input[type=text],
input[type=date],
input[type=email] {
  padding: 10px 16px;
  width: 100%;
  border-radius: 0;
  font: normal 1.2rem/1.2 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #57595b;
  border: 1px solid white;
  transition: .5s;
  -webkit-appearance: none;
}

select:focus,
textarea:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus {
  outline: none;
  border-color: #8f96a3;
}

.select {
  position: relative;
}

.select select {
  font: italic normal 1.5rem/1.2 Times, serif;
  border: 1px solid #8f96a3;
  color: #082f4f;
  letter-spacing: 0.080em;
  background: transparent;
  padding-right: 40px;
}

.select:before {
  pointer-events: none;
  color: #082f4f;
  font-size: 18px;
  display: block;
  position: absolute;
  right: 17px;
  top: 11px;
}

input:focus + label, input.valid + label, input.error + label,
textarea:focus + label, textarea.valid + label, textarea.error + label {
  opacity: 0;
}

.no-placeholder label {
  color: #082f4f;
  font: italic normal 1.5rem/1.2 Times, serif;
  letter-spacing: 0.080em;
  transition: opacity .5s;
  display: block;
  padding: 9px 17px;
  pointer-events: none;
  opacity: 1;
  transition: .5s;
  position: absolute;
  left: 0;
  top: 0;
}

label.error {
  font: 1rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: block;
  position: absolute;
  right: -10px;
  bottom: -10px;
  background: #8f96a3;
  color: white;
  padding: 5px 10px;
}

.select-filter {
  float: right;
  margin-bottom: 28px;
}

.select-filter label {
  letter-spacing: 0.080em;
  padding: 0 10px;
  display: inline-block;
  line-height: 36px;
  font: italic normal 1.5rem/1.2 Times, serif;
}

.select-filter .select {
  display: inline-block;
}

.select-filter select {
  width: auto;
  min-width: 328px;
}

.select-filter.multiple select {
  min-width: 0;
  width: 194px;
}

@media (max-width: 767px) {
  .select-filter {
    float: none;
  }
  .select-filter .select {
    display: block;
  }
  .select-filter select {
    display: block;
    width: 100% !important;
    min-width: 0;
    margin: 5px 0;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #082f4f;
  font: italic normal 1.5rem/1.2 Times, serif;
  letter-spacing: 0.080em;
  transition: opacity .5s;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #082f4f;
  font: italic normal 1.5rem/1.2 Times, serif;
  letter-spacing: 0.080em;
  transition: opacity .5s;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #082f4f;
  font: italic normal 1.5rem/1.2 Times, serif;
  letter-spacing: 0.080em;
  transition: opacity .5s;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #082f4f;
  font: italic normal 1.5rem/1.2 Times, serif;
  letter-spacing: 0.080em;
  transition: opacity .5s;
}

:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.7;
}

:focus::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.7;
}

:focus:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.7;
}

:focus:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.7;
}

#office_list.select-filter {
  position: absolute;
  top: 100%;
  margin-top: 80px;
  right: 62px;
}

.quiz_section .qmn_radio_answers label,
.qmn_quiz_radio,
.qmn_quiz_radio:checked + label,
.qmn_quiz_radio:focus + label {
  color: #57595b !important;
  opacity: 1 !important;
}

.qmn_quiz_container input[type="text"],
.qmn_quiz_container input[type="email"],
.qmn_quiz_container input[type="text"]:focus,
.qmn_quiz_container input[type="email"]:focus {
  border: 1px solid #e3e3e3 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.mlw_qmn_message_before {
  border: 0 !important;
  margin: 0 !important;
}

.mlw_qmn_message_before p {
  font-size: 16px;
  line-height: 26px;
}

.quiz_begin.slide1 {
  padding: 0;
  margin-top: 50px;
}

.quiz_end {
  padding-top: 30px !important;
}

.qmn_question_answer:not(:last-child) {
  margin-bottom: 20px;
}

.grid.team {
  margin: 0 -13.5px;
}

.grid.team .col {
  width: 20%;
  padding: 0 13.5px;
  margin-bottom: 27px;
}

@media (max-width: 1300px) {
  .grid.team .col {
    width: 33.33%;
  }
}

@media (max-width: 991px) {
  .grid.team .col {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .grid.team {
    margin: 0;
  }
  .grid.team .col {
    width: 100%;
    width: auto;
    padding: 0;
  }
  .no-flexbox .grid.team .col {
    float: none;
  }
}

.team-member-wrap {
  position: relative;
  overflow: hidden;
}

.team-member-wrap img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0 auto;
  display: block;
  width: 100%;
  transition: .5s;
}

.team-member-wrap:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team-member-bio {
  background: rgba(8, 47, 79, 0.7);
  position: absolute;
  padding: 0 20px;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  color: white;
  transition: all 1s cubic-bezier(0.17, 0.67, 0.25, 0.97);
}

.team-member-bio .inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.team-member-bio .icon-email {
  font-size: 1.2rem;
  color: white;
  display: block;
  float: right;
}

.team-member-wrap:hover .team-member-bio {
  opacity: 1;
}

.team-member-name {
  font: normal 1.8rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: none;
  margin: 0;
  opacity: 0;
  color: white;
  transition: .5s;
}

.team-member-wrap:hover .team-member-name {
  transition-delay: .25s;
  opacity: 1;
}

.team-member-role {
  font: 1rem/1.5 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.080em;
  position: relative;
  margin: 0;
  opacity: 0;
  transition: .5s;
}

.team-member-wrap:hover .team-member-role {
  transition-delay: .5s;
  opacity: 1;
}

.team-member-email {
  font: 1rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: block;
  text-align: center;
  opacity: 0;
  color: white;
  transition: .5s;
}

.team-member-email:hover {
  color: white;
}

.team-member-wrap:hover .team-member-email {
  transition-delay: .75s;
  opacity: 1;
}

.nav-tabs {
  text-align: center;
  position: relative;
  margin: 0 0 60px;
}

.nav-tabs hr {
  background: #8f96a3;
  position: absolute;
  height: 1px;
  margin: 0;
  top: 5.5px;
  z-index: -1;
  border: none;
}

.nav-tabs li {
  display: block;
  float: left;
}

.nav-tabs.count-1 hr {
  right: 50%;
  left: 50%;
}

.nav-tabs.count-1 li {
  width: 100%;
}

.nav-tabs.count-2 hr {
  right: 25%;
  left: 25%;
}

.nav-tabs.count-2 li {
  width: 50%;
}

.nav-tabs.count-3 hr {
  right: 16.66666667%;
  left: 16.66666667%;
}

.nav-tabs.count-3 li {
  width: 33.33333333%;
}

.nav-tabs.count-4 hr {
  right: 12.5%;
  left: 12.5%;
}

.nav-tabs.count-4 li {
  width: 25%;
}

.nav-tabs.count-5 hr {
  right: 10%;
  left: 10%;
}

.nav-tabs.count-5 li {
  width: 20%;
}

.nav-tabs.count-6 hr {
  right: 8.33333333%;
  left: 8.33333333%;
}

.nav-tabs.count-6 li {
  width: 16.66666667%;
}

.nav-tabs.count-7 hr {
  right: 7.14285714%;
  left: 7.14285714%;
}

.nav-tabs.count-7 li {
  width: 14.28571429%;
}

.nav-tabs.count-8 hr {
  right: 6.25%;
  left: 6.25%;
}

.nav-tabs.count-8 li {
  width: 12.5%;
}

.nav-tabs.count-9 hr {
  right: 5.55555556%;
  left: 5.55555556%;
}

.nav-tabs.count-9 li {
  width: 11.11111111%;
}

.nav-tabs.count-10 hr {
  right: 5%;
  left: 5%;
}

.nav-tabs.count-10 li {
  width: 10%;
}

.nav-tabs .title {
  display: block;
}

.nav-tabs a {
  color: #8f96a3;
  font: italic normal 1.3rem/1.2 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  letter-spacing: 0.080em;
  display: block;
}

.nav-tabs a:hover {
  color: #4b6279;
}

.nav-tabs a:hover .ball {
  background-color: #4b6279;
}

.nav-tabs a.active {
  color: #082f4f;
}

@media (max-width: 991px) {
  .nav-tabs {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .nav-tabs .title {
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    position: absolute;
    right: -50px;
    left: -50px;
  }
  .nav-tabs a:hover .title {
    opacity: 1;
    pointer-events: none;
  }
  .nav-tabs li {
    position: relative;
  }
  .nav-tabs li:first-of-type .title,
  .nav-tabs li:last-of-type .title {
    right: 0;
    left: 0;
  }
}

.ball {
  width: 13px;
  height: 13px;
  background: #8f96a3;
  margin: 0 auto 10px;
  border-radius: 50%;
  display: block;
  transition: .5s;
}

.active .ball {
  background: #082f4f;
}

.timeline {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.timeline li {
  position: relative;
  width: 50%;
}

.timeline li.item-1 {
  margin-top: 132px;
}

.timeline li.item-2 {
  margin-top: 132px;
}

.timeline .right {
  float: right;
  clear: right;
}

.timeline .left {
  float: left;
  clear: left;
}

.timeline .line {
  background: #cacccc;
  display: block;
}

.timeline .line.horizontal {
  position: absolute;
  top: 173px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  bottom: -100px;
}

.timeline-desc {
  background: rgba(143, 150, 163, 0.95);
  font: normal 1.6rem/1.4 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-bottom: 227px;
  padding: 20px 40px;
  width: 100%;
  color: white;
  max-width: 100%;
  position: relative;
}

.with-img .timeline-desc {
  width: 43%;
}

.right .timeline-desc {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  margin-left: 24%;
  float: left;
}

.left .timeline-desc {
  -webkit-transform-origin: center right;
          transform-origin: center right;
  margin-right: 24%;
  float: right;
}

.no-margin .timeline-desc {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .with-img .timeline-desc {
    width: 70%;
  }
  .right .timeline-desc {
    margin-left: 10%;
  }
  .left .timeline-desc {
    margin-right: 10%;
  }
}

@media (max-width: 767px) {
  .timeline-desc {
    font-size: 1.4rem;
    padding: 10px 20px;
  }
}

@media (max-width: 599px) {
  .timeline-desc {
    padding: 10px;
    margin-bottom: 180px;
  }
  .timeline-desc p {
    display: none;
  }
}

.timeline-item {
  position: relative;
}

.item-2 .timeline-item {
  margin-top: 140px;
}

.timeline-item .plus-sign {
  width: 22px;
  height: 22px;
  border: 1px solid #082f4f;
  display: inline-block !important;
  margin-right: .5em;
  vertical-align: middle;
}

.timeline-item .plus-sign:before {
  background: url(img/plus-blue.svg) no-repeat center;
  background-size: 12px 12px;
}

.no-svg .timeline-item .plus-sign:before {
  background-image: url(img/plus-blue.png);
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .no-svg .timeline-item .plus-sign:before {
    background: url(img/plus-blue@2x.png) no-repeat center;
  }
}

.timeline-item .line {
  position: absolute;
  left: auto;
  right: 0;
  width: 24%;
  height: 2px;
  top: 40px;
}

.right .timeline-item .line {
  left: 0;
  right: auto;
}

.timeline-item .ball {
  position: absolute;
  top: 50%;
  left: -6.5px;
  margin: -6.5px 0 0;
  background-color: #082f4f;
}

.left .timeline-item .ball {
  left: auto;
  right: -6.5px;
}

.timeline-item .more {
  font: italic normal 1.6rem/1.2 Times, serif;
  cursor: pointer;
  color: #082f4f;
}

.timeline-item .thumb {
  position: absolute;
  right: 50%;
  left: -76.5%;
  top: -50%;
  bottom: 50%;
  z-index: -1;
  display: block;
}

.right .timeline-item .thumb {
  left: 50%;
  right: -76.5%;
}

@media (max-width: 991px) {
  .timeline-item .thumb {
    right: 10%;
    left: -28.5%;
  }
  .right .timeline-item .thumb {
    left: 10%;
    right: -28.5%;
  }
  .timeline-item .line {
    width: 10%;
  }
}

@media (max-width: 599px) {
  .timeline-item .more {
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .timeline-item .plus-sign {
    width: 12px;
    height: 12px;
    background-size: 12px;
  }
  .timeline-item .plus-sign:before {
    width: 6px;
    height: 6px;
    background-size: 6px 6px;
    margin: -3px 0 0 -3px;
  }
}

.timeline-year {
  font: normal 3.5rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #082f4f;
  border-bottom: 1px solid white;
  margin: 0;
  padding-bottom: .5em;
}

@media (max-width: 767px) {
  .timeline-year {
    padding-bottom: .15em;
    font-size: 2.5rem;
  }
}

.timeline-content-full {
  display: none;
  position: fixed;
  width: 600px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  background: #f1f0ef;
  z-index: 99999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  background: rgba(143, 150, 163, 0.95);
  font: normal 2.2rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}

.timeline-content-full .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.4rem;
  padding: 10px;
  color: #082f4f;
}

.timeline-content-full .close:hover {
  color: #0c4a7d;
}

@media (max-width: 767px) {
  .timeline-content-full {
    width: auto;
    left: 20px;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.6rem;
  }
}

@media (max-width: 599px) {
  .timeline-content-full {
    font-size: 1.4rem;
  }
}

aside {
  width: 24.41%;
}

article {
  width: 75.59%;
  padding-left: 45px;
}

aside, article {
  float: left;
}

@media (max-width: 767px) {
  aside, article {
    float: none;
    width: 100%;
    width: auto;
    padding: 0;
  }
}

.tab-content, .extra-tab-content {
  display: none;
}

.single-hero img {
  display: block;
  height: auto !important;
  width: 100% !important;
}

.single-post .single-hero {
  margin: 0 -50px;
}

#news_slider {
  margin: 0 -16.5px;
}

#news_slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#news_slider .slick-track .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news_slider .slick-slide {
  padding: 0 16.5px;
}

@media (max-width: 991px) {
  #news_slider {
    margin: 0 -10px;
  }
  #news_slider .slick-slide {
    padding: 0 10px;
  }
}

@media (max-width: 599px) {
  #news_slider {
    margin: 0;
  }
  #news_slider .slick-slide {
    padding: 0;
  }
}

.news-item {
  display: block;
  background: #fff;
  padding: 0 34px 26px;
  transition: .5s;
  color: #57595b;
  height: 100%;
}

.news-item .thumb {
  margin: 0 -34px 22px;
  height: 278px;
}

.news-item h3 {
  padding-bottom: 1em;
  border-bottom: 1px solid #8f96a3;
}

.news-item a {
  color: #082f4f;
}

.news-item a:hover h3 {
  color: #0c4a7d;
}

.news-item .icon-arrow-right {
  display: block;
}

.news-item .icon-arrow-right:before {
  font-size: 1.6rem;
  color: #082f4f;
  line-height: 1;
  display: block;
  text-align: left;
  transition: .5s;
}

.news-item .icon-arrow-right:hover:before {
  margin-left: 1em;
}

.news-item .feat {
  text-transform: uppercase;
  letter-spacing: 0.080em;
  font: normal 1.3rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 100px;
}

.news-item.featured {
  position: relative;
  padding: 0;
}

.news-item.featured .thumb {
  height: 441px;
  float: left;
  width: 51.45%;
  margin: 0;
}

.news-item.featured .desc {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48.55%;
  padding: 0 43px  30px;
  max-height: 441px;
}

@media (max-width: 767px) {
  .news-item.featured {
    position: relative;
    padding: 0;
  }
  .news-item.featured .thumb {
    height: 441px;
    float: none;
    width: 100%;
    margin: 0;
  }
  .news-item.featured .desc {
    position: static;
    width: 100%;
    padding: 30px 43px;
    max-height: none;
  }
}

@media (max-width: 599px) {
  .news-item .thumb {
    height: 179px;
  }
}

@media (max-width: 479px) {
  .news-item .thumb {
    height: 208px;
  }
}

.tags {
  padding: 25.5px 0;
  line-height: 1.2;
}

.tags li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #808285;
}

.tags li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.tags a {
  font: normal 1.2rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.080em;
  cursor: pointer;
  color: #808285;
}

.featured .tags {
  padding-right: 34px;
  padding-left: 34px;
}

.thumb {
  background: #f1f0ef no-repeat center;
  background-size: cover;
  display: block;
}

.news-grid {
  margin: 0 -15px;
}

.news-grid .col {
  padding: 0 15px;
  width: 33.33%;
  margin-bottom: 30px;
}

.news-grid .news-item {
  height: 100%;
}

@media (max-width: 991px) {
  .news-grid .col {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .news-grid {
    display: block;
    margin: 0;
  }
  .news-grid .col {
    width: 100%;
    width: auto;
    padding: 0;
  }
  .no-flexbox .news-grid .col {
    float: none;
  }
}

.article-wrap {
  padding: 0 50px 45px;
  background: white;
  color: #808285;
}

.article-wrap .single-hero {
  margin: 0 -50px 1em;
}

.article-wrap h1 {
  font: normal 1.4rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #082f4f;
  max-width: none;
  padding: 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.080em;
}

.article-wrap .icon-arrow-left {
  margin-top: 70px;
  color: #082f4f;
  margin-top: 50px;
}

.article-wrap article {
  padding: 0;
  float: none;
  width: 100%;
  width: auto;
}

.icon-load {
  font-size: 3rem;
  color: #082f4f;
  display: block;
  margin: 33px auto 43px;
  text-align: center;
  -webkit-animation: spinner 2s linear infinite;
          animation: spinner 2s linear infinite;
}

.load-more-wrap {
  text-align: center;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.flex-map .map {
  height: 486px;
  background: #ccc;
}

.contact .flex-map .map {
  height: 580px;
}

@media (max-width: 599px) {
  .flex-map .map {
    height: 280px;
  }
}

.flex-contact .content {
  position: relative;
}

.form-response {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  background: rgba(241, 240, 239, 0.8);
  font: 400 1.8rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.080em;
  color: #082f4f;
  z-index: 10;
}

.form-response .inner {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.single-portfolio-piece h2, .single h2 {
  border: none;
  padding: 0;
}

@media (max-width: 991px) {
  .single-portfolio-piece, .single {
    height: 360px;
  }
}

@media (max-width: 599px) {
  .single-portfolio-piece, .single {
    height: 210px;
  }
}

.project-details {
  color: #808285;
  background: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.project-details .content {
  padding: 20px 60px 20px 40px;
  width: 66.36700%;
}

.project-details h1 {
  max-width: none;
  margin: .5em 0 0;
}

.project-details .gallery {
  width: 33.633%;
  padding: 7.5px;
  height: auto;
}

.project-details .hero {
  height: 510px;
}

@media (max-width: 991px) {
  .project-details {
    display: block;
  }
  .project-details .gallery {
    height: 160px;
    width: 100%;
    width: auto;
    float: none;
  }
  .project-details .gallery li {
    width: 33.33%;
    height: 100%;
    float: left;
  }
  .project-details .content {
    width: 100%;
    width: auto;
    float: none;
  }
}

@media (max-width: 479px) {
  .project-details .gallery {
    height: 90px;
  }
  .project-details .content {
    padding: 20px;
  }
}

.project-spec {
  padding: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #808285;
  color: #082f4f;
  font: 1.5rem/1.7 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}

.project-spec ul {
  padding-left: 1em;
  margin: 0;
}

.gallery {
  height: 988px;
}

.gallery ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.gallery li {
  padding: 7.5px;
  height: 33.33%;
}

@includ respond-to('tablet') {
  .gallery {
    width: auto;
    height: 300px;
    float: none;
  }
  .gallery li {
    height: 100%;
    width: 33.33%;
  }
}

.gallery-item {
  background: no-repeat center;
  background-size: cover;
  height: 100%;
  margin: 0;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
}

.gallery-item figcaption {
  width: 100%;
  height: 100%;
  background: rgba(8, 47, 79, 0.8);
  color: #f1f0ef;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.gallery-item figcaption .inner {
  position: relative;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  transition: .5s;
}

.gallery-item:hover figcaption {
  opacity: 1;
}

.gallery-item:hover figcaption .inner {
  top: 50%;
  opacity: 1;
}

.no-object-fit .gallery-item img {
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio-item {
  position: relative;
  background: white;
  display: block;
  padding: 10px;
}

.portfolio-item .thumb {
  display: block;
  height: 263px;
}

#project_slider {
  margin: 0 -10px 55px;
}

#project_slider .slick-slide {
  padding: 0 10px;
}

.pdf-download {
  width: 32px;
  height: 32px;
  background: url("img/pdf.png");
  background-size: 32px 32px;
  display: block;
  float: right;
}

.item-info {
  background: rgba(143, 150, 163, 0.95);
  font: normal 1rem/1.2 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #082f4f;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  padding: 20px;
  letter-spacing: 0.080em;
  text-transform: uppercase;
  transition: .5s;
}

.item-info h3 {
  font: normal 1.8rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
  color: white;
}

a:hover .item-info {
  background: #8f96a3;
  padding-bottom: 40px;
}

.hero-img {
  background: #e6e6e5 no-repeat center;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 50%;
}

.no-object-fit .hero-img img {
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.hero-video {
  height: calc(100vh - 322px);
  min-height: 460px;
  overflow: hidden;
}

.hero-video .video-wrap {
  height: 100%;
}

.hero-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.no-object-fit .hero-video {
  position: relative;
}

.no-object-fit .hero-video img {
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  top: 50%;
}

@media (max-width: 991px) {
  .hero-video {
    height: auto;
    -o-object-fit: initial;
       object-fit: initial;
  }
  .no-object-fit .hero-video img {
    -webkit-transform: none;
            transform: none;
    position: static;
  }
}

.sideways-header {
  font: italic normal 1.6rem/1 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #8f96a3;
  position: relative;
  width: 100px;
  float: left;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.sideways-header .number {
  font: bold 1.5rem/2.34 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-bottom: 1px solid #8f96a3;
  margin: 0 27px;
  padding-bottom: 34px;
  text-align: center;
  display: block;
  color: #082f4f;
}

.sideways-header .text {
  display: block;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  right: 0;
  right: 50%;
  position: absolute;
  margin-top: 25px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .sideways-header {
    display: none;
  }
}

@media (max-width: 599px) {
  .sideways-header {
    display: none;
  }
}

.with-pull-quote .content {
  width: 69.2307692%;
  padding-right: 20px;
  float: left;
}

@media (max-width: 767px) {
  .with-pull-quote .content {
    width: 100%;
    float: none;
  }
}

.pull-quote {
  font: italic normal 1.3rem/2.15 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  padding-left: 20px;
  width: 30.7692308%;
  float: left;
  margin: 0;
  color: #082f4f;
}

.pull-quote p {
  margin-top: 0;
}

aside .pull-quote {
  width: 100%;
  width: auto;
  float: none;
  padding: 0;
  margin: 0;
}

.home .pull-quote {
  margin-top: 49px;
}

@media (max-width: 767px) {
  .pull-quote {
    width: 100%;
    float: none;
    padding: 0 20px;
    margin: 0;
  }
}

.flex-map .wrap, .flex-video .wrap, .flex-hero .wrap, .flex-pages .wrap {
  padding-right: 0;
}

@media (max-width: 767px) {
  .flex-map .wrap, .flex-video .wrap, .flex-hero .wrap, .flex-pages .wrap {
    padding: 0;
  }
}

.data-flex-row {
  margin-bottom: 100px;
}

.replay-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.replay-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font: 1.6rem/1 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: .08em;
  cursor: pointer;
  text-align: center;
}

.replay-btn .icon-replay {
  font-size: 3rem;
  line-height: 1;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.replay-btn:hover {
  -webkit-transform: translate(-50%, -50%), scale(1.1);
          transform: translate(-50%, -50%), scale(1.1);
  color: white;
}

.video-wrap {
  position: relative;
  overflow: hidden;
}

.video-wrap .thumb {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 100;
}

.video-wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}

@media (max-width: 991px) {
  .video-wrap video {
    width: 100%;
    position: static;
    -webkit-transform: none;
            transform: none;
    min-width: 0;
    min-height: 0;
  }
}

.flex-video {
  margin: 0;
}

.flex-video .video-wrap {
  height: calc(100vh - 245px);
}

@media (max-width: 991px) {
  .flex-video .video-wrap {
    height: 414px;
  }
}

@media (max-width: 767px) {
  .flex-video .video-wrap {
    height: auto;
  }
}

.tab-intro {
  display: none;
}

.grid.page-feed {
  padding: 0;
  margin: 0;
}

.grid.page-feed .col {
  position: relative;
  z-index: 10;
  width: 33.33%;
  padding: 0;
  margin: 0;
  transition: .5s;
}

.grid.page-feed .col.open {
  z-index: 100;
}

.grid.page-feed .col.open .page-feed-box {
  margin: -10px;
  min-height: 362px;
}

.grid.page-feed .col.col-3.open {
  z-index: 100;
}

.grid.page-feed .col.col-3.open .page-feed-box {
  margin-right: 0;
}

@media (max-width: 599px) {
  .grid.page-feed {
    display: block;
  }
  .grid.page-feed .col {
    width: 100%;
    width: auto;
  }
  .no-flexbox .grid.page-feed .col {
    float: none;
  }
}

.plus-sign {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  display: block;
  position: relative;
}

.plus-sign:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: url(img/plus.svg) no-repeat center;
  background-size: 12px 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
}

.no-svg .plus-sign:before {
  background-image: url(img/plus.png);
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .no-svg .plus-sign:before {
    background: url(img/plus@2x.png) no-repeat center;
  }
}

.page-feed-box {
  background: #e5e3e1 no-repeat center bottom;
  background-size: cover;
  color: white;
  padding: 44px 60px;
  min-height: 342px;
  height: 100%;
  position: relative;
  z-index: 100;
  transition: .5s;
  cursor: pointer;
}

.page-feed-box .plus-sign {
  float: right;
  margin-right: -10px;
}

.page-feed-box h3 {
  font: normal 3rem/0.9 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: initial;
  color: white;
  margin: 0 0 .5em;
}

.page-feed-box a {
  color: white;
}

.page-feed-box .sub-menu {
  padding: 0 0 0 1em;
  line-height: 1.2;
  margin: 0;
  pointer-events: none;
}

.page-feed-box .sub-menu li {
  margin: 0;
}

.page-feed-box .sub-menu a {
  color: white;
  font: normal 1.3rem/1.6 "Montserrat", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.080em;
}

.open .page-feed-box {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.page-feed-box:hover {
  margin: -5px;
  min-height: 357px;
}

@media (max-width: 991px) {
  .page-feed-box {
    padding: 22px 30px;
    min-height: 212px;
  }
  .page-feed-box h3 {
    font-size: 2rem;
  }
  .page-feed-box .sub-menu a {
    font-size: 1rem;
  }
}

@media (max-width: 599px) {
  .page-feed-box {
    min-height: none;
    background-position: center;
  }
}

.spider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.open .spider-nav {
  top: -178px;
  right: -37.5%;
}

.open .spider-nav ul {
  margin: 0 -29px;
}

.spider-nav ul {
  display: block;
  height: 100%;
  position: relative;
  margin: 0;
}

.spider-nav li {
  width: 25%;
  position: absolute;
  padding: 0 19px;
  transition: .5s;
}

.spider-nav li:hover {
  margin-top: -10px;
}

.spider-nav li.item-1 {
  left: 0%;
}

.spider-nav li.item-2 {
  left: 25%;
}

.spider-nav li.item-3 {
  left: 50%;
}

.spider-nav li.item-4 {
  left: 75%;
}

.spider-nav li.item-4:hover {
  margin: -10px 0px 0 10px;
}

.spider-nav li.item-5, .spider-nav li.item-6 {
  right: 0;
}

.spider-nav li.item-5:hover, .spider-nav li.item-6:hover {
  margin: 0 -10px 0 0;
}

.spider-nav li.item-5 {
  top: 0;
}

.open .spider-nav li.item-5 {
  top: 178px;
}

.spider-nav li.item-6 {
  top: 178px;
}

.open .spider-nav li.item-6 {
  top: 356px;
}

.col-3 .spider-nav li.item-4 {
  left: 0;
}

.col-3 .spider-nav li.item-4:hover {
  margin: -10px 0px 0 -10px;
}

.col-3 .spider-nav li.item-5, .col-3 .spider-nav li.item-6 {
  right: auto;
  left: 0;
}

.col-3 .spider-nav li.item-5:hover, .col-3 .spider-nav li.item-6:hover {
  margin: 0 0 0 -10px;
}

.col-3.open .spider-nav {
  left: -37.5%;
  right: 0;
}

.col-3.open .spider-nav li.item-4, .col-3.open .spider-nav li.item-5, .col-3.open .spider-nav li.item-6 {
  left: -25%;
}

.col-3.open .spider-nav li.item-1 .line {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  margin: 0 0 0 100%;
}

.spider-nav a {
  height: 140px;
  background: #082f4f;
  display: block;
  color: white;
  position: relative;
  font-family: "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
}

.spider-nav .title {
  display: block;
  position: absolute;
  left: 20px;
  right: 40px;
  bottom: 20px;
}

.spider-nav .plus-sign {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.spider-nav .line {
  display: block;
  width: 2px;
  height: 65px;
  margin: 0 auto;
  background: white;
}

.spider-nav .item-4 .line {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  margin: 0;
}

.col-3 .spider-nav .item-4 .line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  float: right;
  margin: 0;
}

.spider-nav .item-5 .line,
.spider-nav .item-6 .line {
  height: 2px;
  width: 100px;
  position: absolute;
  right: 100%;
  top: 50%;
  margin: -1px -19px 0 0;
  top: 50%;
}

.col-3 .spider-nav .item-5 .line, .col-3
.spider-nav .item-6 .line {
  left: 100%;
  right: 0;
  margin-right: 0;
  margin-left: -19px;
}

@media (max-width: 1040px) {
  .spider-nav ul {
    margin: 0 -5px;
  }
  .spider-nav li {
    padding: 0 5px;
  }
  .spider-nav li.item-5, .spider-nav li.item-6 {
    top: 0;
  }
  .spider-nav li.item-5 .line, .spider-nav li.item-6 .line {
    margin-right: -5px;
  }
  .open .spider-nav li.item-5 {
    top: 98px;
  }
  .open .spider-nav li.item-6 {
    top: 196px;
  }
  .spider-nav a {
    font-size: 1rem;
    height: 80px;
  }
  .spider-nav .plus-sign {
    right: 10px;
    top: 10px;
  }
  .spider-nav .title {
    bottom: 10px;
    left: 10px;
  }
  .spider-nav .item-4 .line {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  .open .spider-nav {
    top: -108px;
  }
  .open .spider-nav ul {
    margin: 0 -15px;
  }
  .open .spider-nav li {
    padding: 0 5px;
  }
}

@media (max-width: 767px) {
  .spider-nav li {
    width: 33.33%;
  }
  .spider-nav li.item-2 {
    left: 33.33%;
  }
  .spider-nav li.item-3 {
    left: 66.66%;
  }
  .spider-nav li.item-3 .line {
    -webkit-transform: rotate(31deg);
            transform: rotate(31deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    margin: 0;
  }
  .spider-nav li.item-4 {
    left: auto;
    right: 0;
  }
  .spider-nav li.item-4 .line {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    height: 2px;
    width: 100px;
    position: absolute;
    right: 100%;
    margin: -1px -5px 0 0;
    top: 50%;
  }
  .open .spider-nav {
    top: -128px;
    right: -50%;
  }
  .col-3 .open .spider-nav {
    left: -50%;
  }
  .open .spider-nav li.item-4 {
    top: 118px;
  }
  .open .spider-nav li.item-5 {
    top: 236px;
  }
  .open .spider-nav li.item-6 {
    top: 354px;
  }
  .col-1 .spider-nav ul {
    margin-right: -22px;
    margin-left: auto;
  }
  .col-3 .spider-nav ul {
    margin-left: -22px;
    margin-right: auto;
  }
  .col-3 .spider-nav ul {
    margin-right: auto;
    margin-left: 0;
  }
  .open .col-3 .spider-nav ul {
    margin-right: -32px;
    margin-left: -15px;
  }
  .spider-nav a {
    height: 100px;
  }
}

@media (max-width: 599px) {
  .open .spider-nav {
    right: 0;
    bottom: -128px;
    top: -128px;
  }
  .spider-nav ul {
    margin: 0 !important;
  }
  .spider-nav li {
    width: 33.33% !important;
  }
  .spider-nav li .line {
    margin: 0 auto !important;
    -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
    width: 2px !important;
    height: 60px !important;
  }
  .spider-nav li.item-4, .spider-nav li.item-5, .spider-nav li.item-6 {
    bottom: 0;
    top: auto !important;
  }
  .spider-nav li.item-4 .line, .spider-nav li.item-5 .line, .spider-nav li.item-6 .line {
    position: static !important;
    margin: -160px auto 70px !important;
  }
  .spider-nav li.item-1, .spider-nav li.item-4 {
    left: 0;
  }
  .spider-nav li.item-2, .spider-nav li.item-5 {
    left: 33.33%;
  }
  .spider-nav li.item-3, .spider-nav li.item-6 {
    left: 66.66%;
  }
}

.page-template-template-services .pull-quote {
  display: none;
}

#load_more {
  margin-bottom: 20px;
}

.plant-item {
  background-color: white;
  float: left;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 599px) {
  .plant-item {
    float: none;
  }
}

.plant-header {
  color: #808185;
  font: 500 1.1rem/1.2 'Montserrat', sans-serif;
  line-height: 34px;
  margin: 0;
  padding: 10px 30px;
  text-transform: uppercase;
}

.plant-header span {
  float: right;
}

.plant-header b {
  background-color: #f1f0ef;
  border-radius: 50%;
  color: #082f4f;
  display: inline-block;
  font: bold 1.6rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  text-align: center;
  width: 30px;
}

.plant-thumb {
  background-position: center center;
  background-size: cover;
  height: 270px;
  width: 100%;
}

.plant-stats {
  color: #082f4f;
  padding: 30px;
}

.plant-stats h3 {
  color: #082f4f;
  font-weight: bold;
  margin-top: 0;
}

.plant-stats hr {
  background-color: #808185;
  border: 0;
  height: 1px;
  margin-bottom: 14px;
}

.plant-stats p {
  margin: 0;
}

.plant-stats span {
  color: #808185;
  float: right;
}

.plant-stats .icon-arrow-right {
  color: #082f4f;
  display: block;
  float: none;
  margin-top: 20px;
}

.plant-gallery {
  clear: both;
  overflow: auto;
  width: 100%;
}

.plant-gallery .feature-image {
  border-right: 5px solid #fff;
  height: 300px;
  width: 66.6%;
}

@media (max-width: 599px) {
  .plant-gallery .feature-image {
    border-bottom: 5px solid #fff;
    float: none;
    width: 100%;
  }
}

.plant-gallery .normal-image {
  border-left: 5px solid #fff;
  height: 150px;
  width: 33.3%;
}

@media (max-width: 599px) {
  .plant-gallery .normal-image {
    width: 50%;
  }
}

.plant-gallery .normal-image:nth-child(2) {
  border-bottom: 5px solid #fff;
}

@media (max-width: 599px) {
  .plant-gallery .normal-image:nth-child(2) {
    border-bottom: 0;
    border-left: 0;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
  }
}

.plant-gallery .normal-image:nth-child(3) {
  border-top: 5px solid #fff;
}

.plant-gallery .feature-image,
.plant-gallery .normal-image {
  background-position: center center;
  background-size: cover;
  float: left;
}

.plant-feature {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100000;
}

.plant-feature .plant-card {
  background-color: #fff;
  margin: 100px auto 0;
  max-width: 700px;
  padding: 30px;
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .plant-feature .plant-card {
    margin: 50px auto;
  }
}

@media (max-width: 599px) {
  .plant-feature .plant-card {
    margin: 0 auto;
  }
}

.plant-feature .plant-card .close-card {
  cursor: pointer;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 15px;
}

.plant-feature .plant-card .plant-stats {
  clear: both;
  overflow: auto;
  padding: 20px 0 0;
}

.plant-feature .plant-card .plant-stats .right-items {
  float: right;
}

@media (max-width: 767px) {
  .plant-feature .plant-card .plant-stats .right-items {
    float: none;
    margin-top: 10px;
  }
}

.plant-feature .plant-card .plant-stats .right-items span {
  display: inline-block;
  font-weight: normal;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .plant-feature .plant-card .plant-stats .right-items span {
    float: none;
    margin-left: 0;
    margin-right: 15px;
  }
}

.plant-feature .plant-card .plant-stats .right-items span a {
  color: #808185;
  display: block;
}

.plant-feature .plant-card .plant-stats .right-items span img {
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

.plant-feature .plant-card .plant-stats .right-items span b {
  background-color: #f1f0ef;
  border-radius: 50%;
  color: #082f4f;
  display: inline-block;
  font: bold 1.6rem/1.2 "liberation", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  margin-top: -5px;
  text-align: center;
  vertical-align: top;
  width: 30px;
}

.plant-feature .plant-card .plant-header {
  font-size: 1.3rem;
  line-height: normal;
  padding: 0 0 30px;
}

.plant-feature .plant-card .btn {
  display: inline-block;
  font-style: italic;
  margin-top: 30px;
}

.plant-feature .stats,
.plant-feature .content {
  float: left;
  width: 50%;
}

@media (max-width: 599px) {
  .plant-feature .stats,
  .plant-feature .content {
    float: none;
    width: 100%;
  }
}

.plant-feature .stats {
  padding-right: 15px;
  text-transform: uppercase;
}

@media (max-width: 599px) {
  .plant-feature .stats {
    padding-right: 0;
    margin-bottom: 14px;
  }
}

.plant-feature .content {
  color: #808185;
  padding-left: 15px;
}

@media (max-width: 599px) {
  .plant-feature .content {
    padding-left: 0;
  }
}

.quick-links {
  background-color: #e9eae9;
  padding: 60px 0;
}

.shrek-header {
  background-position: 50%;
  background-size: cover;
  height: 500px;
  margin-bottom: 40px;
  width: 100%;
}

@media (max-width: 991px) {
  .shrek-header {
    height: 400px;
  }
}

@media (max-width: 599px) {
  .shrek-header {
    height: 250px;
  }
}

.shrek-info {
  left: 100px;
  position: absolute;
  top: 0;
  width: 350px;
}

@media (max-width: 1040px) {
  .shrek-info {
    width: 250px;
  }
}

@media (max-width: 991px) {
  .shrek-info {
    left: auto;
    position: relative;
    top: auto;
    width: 100%;
  }
}

.shrek-links {
  float: left;
  padding-left: 390px;
  width: 100%;
}

@media (max-width: 1040px) {
  .shrek-links {
    padding-left: 300px;
  }
}

@media (max-width: 991px) {
  .shrek-links {
    float: none;
    margin-top: 40px;
    padding-left: 0;
  }
}

.shrek-links .shrek-link {
  background-color: #8f96a2;
  color: #fff;
  display: inline-block;
  float: left;
  font: normal 14px liberation, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  line-height: 27px;
  margin: 0 0 20px 20px;
  padding: 10px 20px;
  width: 30%;
}

.shrek-links .shrek-link:hover {
  opacity: .7;
}

.shrek-links .shrek-link span {
  border-left: 1px solid #fff;
  color: #09314f;
  display: inline-block;
  float: right;
  font-size: 8px;
  line-height: 25px;
  margin-left: 8px;
  padding-left: 10px;
}

.shrek-links .shrek-link b {
  color: #09314f;
  font-weight: 400;
}

.shrek-links .shrek-link img {
  max-height: 30px;
  max-width: 30px;
}

@media (max-width: 1300px) {
  .shrek-links .shrek-link {
    margin: 0 12px 12px 0;
    width: 47.2%;
  }
}

@media (max-width: 991px) {
  .shrek-links .shrek-link {
    margin: 0 15px 15px 0;
    width: 47%;
  }
}

@media (max-width: 599px) {
  .shrek-links .shrek-link {
    margin: 0 0 15px;
    width: 100%;
  }
}

.shrek-links .quick-link {
  background-color: #d4d9dd;
  color: #09314f;
  position: relative;
}

.shrek-links .quick-link .icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  left: 20px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}

.shrek-links .quick-link .link {
  padding-left: 50px;
  padding-right: 50px;
}

.shrek-links .quick-link span {
  border-left: 1px solid #09314f;
  bottom: 10px;
  padding-left: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}

.shrek-links .quick-link span.icon-arrow-right::before {
  margin-top: -5px;
  position: absolute;
  top: 50%;
}

#wpss_survey .infoForm input {
  height: 38px !important;
}

.service-header {
  display: none;
}

@media (max-width: 991px) {
  .page-template-template-services aside, .page-template-template-services article {
    width: 100% !important;
    width: auto !important;
    float: none !important;
    margin: 0 0 20px;
    padding: 0;
  }
}

.map-wrap {
  position: relative;
}

.office-list {
  background: #e6e7e8;
  position: absolute;
  bottom: 141px;
  right: 0;
  padding: 10px 15px;
}

.office-list li {
  position: relative;
}

.office-list h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.office-list input {
  width: 18px;
  height: 18px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 8px;
  transition: .5s;
  position: relative;
  box-shadow: inset 0px 2px #d1d3d4;
  -webkit-appearance: none;
}

.office-list input:before {
  background: transparent;
  position: absolute;
  z-index: 10;
  content: '';
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  transition: .2s;
}

.office-list input:focus {
  outline: none;
}

.office-list input:checked:before {
  background: #082f4f;
  box-shadow: 0px 2px #d1d3d4;
}

@media (max-width: 767px) {
  .office-list {
    padding: 20px;
    position: static;
  }
}

.map-office-info {
  font: normal 1.1rem/1.56 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #57595b;
}

.map-office-info h3 {
  margin: 0;
}

.map-office-info a {
  color: #57595b;
}

.video-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block
}

@media (max-width:991px) {
  .video-wrap img {
    width: 100%;
    position: static;
    -webkit-transform: none;
    transform: none;
    min-width: 0;
    min-height: 0
  }
}

.smaller .video-wrap {
  height: 68rem !important;
  object-fit: cover;
  object-position: center;
}

@media (max-width:991px) {
  .smaller .video-wrap {
    height: auto !important;
    object-fit: cover;
    object-position: center;
  }
}